<form class="mt-4" action="" method="post">
    <div class="mb-3">
        <label for="user_email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="user_email" name="email">
    </div>
    <div class="mb-3">
        <label for="user-password" class="form-label">Password</label>
        <input type="password" class="form-control" id="user-password" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>