<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Description</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    {{#each subjects}}
        <tr>
            <td>{{description}}</td>
            <td>
                <div class="row">
                    <div class="col-2">
                        <a href="/subjects/show/{{id}}" class="btn btn-outline-info">Show</a>
                    </div>
                    <div class="col-2">
                        <a href="/subjects/delete/{{id}}" data-confirm="Are you sure?" id="btn-delete" class="btn btn-outline-danger">Delete</a>
                    </div>
                </div>
            </td>
        </tr>
    {{/each}}

    </tbody>
</table>