<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fpt.m.wikipedia.org%2Fwiki%2FFicheiro%3AUser_icon_BLACK-01.png&psig=AOvVaw2sWGP7jNl6FOyrfcs8AdIG&ust=1641932534721000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCMDv0r2BqPUCFQAAAAAdAAAAABAD" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{name}} {{surname}}</h5>
                <p class="card-text">{{email}}</p>
                <p class="card-text"><small class="text-muted">{{createdAt}}</small></p>
            </div>
        </div>
    </div>
</div>