{{#each topic}}
<div class="card mb-3">
    <img src="https://source.unsplash.com/1600x900/?{{subject}}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{tittle}}</h5>
        <p class="card-text">{{content}}
        <p class="card-text"><small class="text-muted">{{createdAt}}</small></p>
    </div>
</div>
{{/each}}
